flet
selenium
webdriver-manager
requests
beautifulsoup4
matplotlib
seaborn
pillow
pandas
certifi
lxml 
pymorphy2
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
python-dotenv
openpyxl
ollama
openai
langchain
langchain-community
schedule
urllib3
openpyxl 